SAMURAI_MODEL_SIZE=base_plus
SAMURAI_DEVICE=cuda
SAMURAI_DTYPE=bfloat16
SAMURAI_APP_ROOT=sam2
SAMURAI_DATA_PATH=data/uploads
SAMURAI_MAX_UPLOAD_DURATION_SEC=10.0
SAMURAI_SCORE_THRESH=0.0
SAMURAI_FFMPEG_THREADS=4
